{% extends 'base.html.twig' %}


{% block body %}

<div>
    <h1 class="t-align-center mt-80">Mes Statistiques</h1>
    <p class="t-align-center">Retrouvez ci-dessous l'historique de toutes vos sessions d'entrainement.</p>
    <div class="t-align-center mb-80 mt-20">
        <a href="{{ path('index') }}" class="btn btn-tertiary">Accueil</a>
    </div>
    
    <div class="flex justify-center">
        <table class="table widget">
        <thead>
            <tr>
            <th>Thème</th>
            <th>Date</th>
            <th>Temps</th>
            <th>Erreur(s)</th>
            </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            
            <tr>
                <td>{{ stat.theme.name | capitalize }} </td>
                <td>{{ stat.datetime | date("m/d/Y") }}</td>
                <td>{{ stat.time | date("i:s") }}</td>
                <td>{{ stat.nbErreur }}</td>
            </tr>
            
        {% endfor %}
        </tbody>
        </table>       
    </div>
</div>

{% endblock %}