<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Chess Tracker Training{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        {# chessboardjs #}
        <link rel="stylesheet"
        href="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.css"
        integrity="sha384-47VeTDpmy4yT21gKPXQcLQYQZwlmz27gEH5NTrOmTk3G/SGvMyltclOW/Q8uE+sL"
        crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.12.1/chess.js"
        integrity="sha384-8sJV/krC8iV2g7t0PolQxFVckDtxhfM5gNHNAFPG2ZS/bScudOjfsB8ewhG2xle8"
        crossorigin="anonymous"></script>

        <script src="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.js" integrity="sha384-/KwQCjA1GWovZNV3QDVtvSMDzO4reGgarF/RqHipr7hIUElH3r5zNl9WEPPOBRIF" crossorigin="anonymous"></script>


    </head>
    <body>
        
        {# <nav>
            <ul>
                <li><a class="" href="{{ path('index') }}">Accueil </a></li>
                <li><a class="" href="{{ path('woodpecker') }}">Woodpecker </a></li>
                <li><a class="" href="{{ path('stat') }}">Stat </a></li>
                {% if app.user %}
                <li><a class="" href="{{ path('app_logout') }}">Déconnexion </a></li>
                {% else %}
                <li><a class="" href="{{ path('app_login') }}">Connexion </a></li>
                {% endif %}
                <li><a class="" href="{{ path('admin.index') }}">Admin </a></li>
            </ul>
        </nav> #}

        {% block body %}{% endblock %}



    </body>
</html>
